<script src="{{'/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/bower_components/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config( 
						{
							tex2jax: {inlineMath: [['$','$']],
												displayMath: [['$$','$$']]
						},
							"HTML-CSS": {preferredFont: "TeX", scale: 100},
							styles : {
							".MathJax" : {
									 "font-size": "100% !important"
								}
							}
						});
	</script>
