---
---

@import "../bower_components/bootstrap/scss/functions";
@import "variables";
@import "../bower_components/bootstrap/scss/bootstrap";
@import url(monokai.css);
/*
.content {
  font-size: $custom-font-size;
}
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

a, a:hover, a:visited {
  color: rgb(218, 123, 0);
}

.title {
  color: rgb(218, 123, 0);
  font-size: 1.5rem;
}

.subtitle {
  font-size: 0.8em;
  font-style: italic;
}


h1 {
  font-size: 1.5rem;
}


h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.0rem;
}



.highlight {
  padding-left: 10px;
}

.footer {
  padding-top: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100% !important;
  height: 6rem;
  margin: 0 auto !important;
}

.fa, a.fa, a:hover.fa, a:visited.fa {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 2rem !important;
  text-align: center;
  text-decoration: none;
  border: none;
  color: white;
}